<main>
    Доброго дня, <%= locals.firstName %> <%= locals.lastName %>!<br />
    От Вас поступила регистрация на сайте sneakerShop.<br />
    Для окончания регистрации введите этот код <br /> <%= locals.code %>
</main>
